body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background: #34352e;
  text-align: center;
  display: block; }
  .nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 0 auto; }
    .nav ul li {
      float: left;
      text-align: center;
      padding: 0 12px;
      white-space: normal;
      display: inline-block; }
      .nav ul li a {
        color: white;
        width: 100%;
        display: block;
        text-align: center;
        padding: 6px 0 4px 0;
        font-size: 12px; }

.npp-header {
  margin-top: 30px;
  top: 0;
  z-index: 100;
  padding: 15px 0 9px 0; }
  .npp-header .entity-logo {
    max-width: 80%;
    width: 80%; }
  .npp-header h1 {
    font-size: 1.2em;
    text-align: right;
    padding-right: 15px; }

.npp-footer {
  background: #f0f0f0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: block;
  width: 100%;
  padding: 8px 0; }

.npp-content {
  z-index: 20;
  background: #fff;
  padding: 15px;
  overflow: scroll; }

.segment-opener h2 {
  background: #34352e;
  color: white;
  padding: 15px;
  font-size: 14px;
  text-align: center; }
.segment-opener p strong {
  color: #34352e; }

.segment-bulletblock {
  margin: 15px 0;
  border-bottom: 3px dotted #34352e; }
  .segment-bulletblock h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    display: block;
    padding-bottom: 1em; }
  .segment-bulletblock li {
    margin-bottom: 0.5em;
    font-size: 13px; }
  .segment-bulletblock p {
    font-size: 13px; }

.section-rights .segment-opener h2 {
  background: #ac3e34; }
.section-rights .segment-opener p strong {
  color: #ac3e34; }
.section-rights .segment-bulletblock {
  border-bottom: 3px dotted #ac3e34; }

.section-choices .segment-opener h2 {
  background: #718a37; }
.section-choices .segment-opener p strong {
  color: #718a37; }
.section-choices .segment-bulletblock {
  border-bottom: 3px dotted #718a37; }

.section-uses .segment-opener h2 {
  background: #007d7a; }
.section-uses .segment-opener p strong {
  color: #007d7a; }
.section-uses .segment-bulletblock {
  border-bottom: 3px dotted #007d7a; }
