body {
  background: #f0f0f0;
  height: 100%;
  overflow: hidden; }

.npp-container {
  background: #fff;
  padding: 15px;
  height: auto;
  overflow: scroll; }

.npp-header .entity-logo {
  width: 100%; }
.npp-header h1 {
  font-size: 1em;
  text-align: right; }

.section-header h2 {
  background: #ac3e34;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  float: left; }
.section-header p strong {
  color: #ac3e34; }
