$white: 			#fff;
$medium_carmine: 	#AC3E34;
$wasabi: 			#718A37;
$surfie_green: 		#007D7A;
$bubbles: 			#E5F0EE;

$rights_color: 		$medium_carmine;
$choices_color: 	$wasabi;
$uses_color: 		$surfie_green;

body {
	background: #f0f0f0;
	// height: 100%;
	// overflow: hidden;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.npp-content {
	background: #fff;
	padding: 15px;
	height: auto;
	overflow: scroll;
	height: 50%;
}

.npp-header {
	.entity-logo {
		width: 100%;
	}
	h1 {
		font-size: 1em;
		text-align: right;
	}
}

.section-header {
	h2 {
		background: $rights_color;
		color: $white;
		padding: 15px;
		// margin: 0;
		// padding: 0;
		// border-radius: 50%;
		// width: 100%;
		// height: 100%;
		font-size: 14px;
		text-align: center;
		// float: left;
    // display: table-cell;
    // text-align: center;
    // vertical-align: middle;
    // position: relative;
    // height: 0;
    // padding-bottom: 100%;
	}
	p {
		strong {
			color: $rights_color;
		}
	}
}

.section-content {
	margin: 15px 0;
	border-bottom: 4px dotted $rights_color;
	h3 {
		font-size: 15px;
		font-weight: bold;
		margin: 0;
	}
	li {
		margin-bottom: 0.5em;
		font-size: 13px;

	}
}
