// Set color variables

$white: 			#fff;
$medium_carmine: 	#AC3E34;
$wasabi: 			#718A37;
$surfie_green: 		#007D7A;
$bubbles: 			#E5F0EE;
$oil:               #34352E;


$rights_color: 		$medium_carmine;
$choices_color: 	$wasabi;
$uses_color: 		$surfie_green;

body {
    margin: 0;
    padding: 0;
	background: #f0f0f0;
    height: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.npp-package {
	//background: #fff;
//    padding: 15px;
    border: 10px solid #f0f0f0;
}

.npp-header {
    background: #f0f0f0;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 8px 0;
	.entity-logo {
		width: 100%;
	}
	h1 {
		font-size: 1.2em;
		text-align: right;
        padding-right: 15px;
	}
}

.npp-footer {
    background: #f0f0f0;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100%;
    padding: 8px 0;
}

.npp-content {
    margin-top: 60px;
    z-index: 20;
    background: #fff;
    padding: 15px;
    overflow: scroll;
}

.segment-opener {
	h2 {
		background: $oil;
		color: $white;
		padding: 15px;
		font-size: 14px;
		text-align: center;
	}
	p {
		strong {
			color: $oil;
		}
        //border: 1px solid $rights_color;
	}
}

.segment-bulletblock {
	margin: 15px 0;
	border-bottom: 3px dotted $oil;
	h3 {
		font-size: 15px;
		font-weight: bold;
		margin: 0;
        display: block;
	}
	li {
		margin-bottom: 0.5em;
		font-size: 13px;
	}
}


// Define colors by section
.section-rights {
    .segment-opener h2 { background: $rights_color; }
    .segment-opener p strong { color: $rights_color; }
    .segment-bulletblock { border-bottom: 3px dotted $rights_color; }
}

.section-choices {
    .segment-opener h2 { background: $choices_color; }
    .segment-opener p strong { color: $choices_color; }
    .segment-bulletblock { border-bottom: 3px dotted $choices_color; }
}
