// Set color variables

$white: 			        #fff;
$medium_carmine: 	        #AC3E34;
$wasabi: 			        #718A37;
$surfie_green: 		        #007D7A;
$bubbles: 			        #E5F0EE;
$oil:                       #34352E;
$floral_white:              #FBF8F0;
$bondi_blue:                #0286B3;
                            
$rights_color: 		        $medium_carmine;
$choices_color: 	        $wasabi;
$uses_color: 		        $surfie_green;
$responsibilities_color:    orange;

body {
    margin: 0;
    padding: 0;
	background: #f8f8f8;
    height: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.npp-nav {
    z-index: 600;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background: $oil;
    background: #eee;
    text-align: center;
    display: block;
    ul {
        //margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        li {
            float: left;
            text-align: center;
            padding: 0 12px;
            white-space: normal;
            display: inline-block;
            a {
                color: $bondi_blue;
                width: 100%;
                display: block;
                text-align: center;
                padding: 8px 0 4px 0;
                font-size: 12px;
            }
        }
    }
}

.npp-header {
    top: 0;
    z-index: 100;
    padding: 15px 0 13px 0;
	.entity-logo {
        max-width: 80%;
        width: 80%;
    }
    .npp-title {
        text-align: right;
        float: right;
        a {
            display: inline-block;
            padding: 0 5px;
            font-size: 12px;
        }
    }
    h1 {
        font-size: 1.2em;
        text-align: right;
        line-height: 1em;
        padding-right: 10px;
	}
}

.npp-footer {
    background: #f0f0f0;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: right;
}

.npp-content {
    //margin-top: 60px;
    z-index: 20;
    background: #fff;
    padding: 15px;
}

.segment-opener {
	h2 {
        margin: 0;
		background: $oil;
		color: $white;
		padding: 18px;
		font-size: 14px;
		text-align: center;
        margin-bottom: 15px;
	}
	p {
		strong {
			color: $oil;
		}
	}
    &.segment-opener-secondary {
        margin-top: 52px;
        word-wrap: break-word;
    }
}

.segment-bulletblock {
	margin: 15px 0;
	border-bottom: 3px dotted $oil;
	h3 {
		font-size: 15px;
		font-weight: bold;
		margin: 0;
        display: block;
        padding-bottom: 1em;
	}
	li {
		margin-bottom: 0.5em;
		font-size: 13px;
        //word-break: break-all;
        word-wrap: break-word;
        ul {
            margin-top: 5px;
        }
	}
    p {
        font-size: 13px;
    }
    .segment-example {
        strong {
            font-style: italic;
        }
    }
    &.segment-bulletblock-double {
        
    }
}

.section {
    margin-bottom: 0px;
    margin-top: 50px;
}

.section-back-to-top {
    margin: 0;
    padding: 0;
    .row div {
        text-align: center;
    }
    a {
        font-size: 12px;
        text-decoration: underline;
    }
    &.pre-footer {
        margin-bottom: 60px;
    }
}

.section-bubble {
    .col-lg-12 {
        background: $bubbles;
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h2 {
        border-bottom: 2px solid $oil;
        font-size: 1.35em;
        font-weight: bold;
        padding-bottom: 8px;
    }
    h3 {
        font-size: 1.125em;
        font-weight: bold;
    }
    .effective {
        font-weight: bold;
    }
    margin-bottom: 80px;
}

.npp-btn {
    display: inline-block;
    height: 14px;
    font-family: "Lucida Grande", "Segoe UI", "Tahoma", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #636363;
    text-decoration: none;
    padding: 1px 7px 5px 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    border-bottom-color: #d4d4d4;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0);
    line-height: 11px !important;
    text-decoration: none !important;
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    span {
        display: inline-block;
        width: 15px;
        height: 14px;
        vertical-align: bottom;
        margin: 0 5px 0 2px;
        background: transparent url('../images/example-third-party-service.png') no-repeat;
        position: relative;
        top: 2px;
        //background-image: url('https://www.dropbox.com/static/images/widgets/dbx-saver-status-2x.png');
        background-size: 60px 14px;
        -webkit-background-size: 60px 14px;
        background-position: 0px 0px;
    }
    &.npp-btn-print span {
        background: url('../images/icn-print.png') no-repeat;
        // background-size: 60px 14px;
        // -webkit-background-size: 60px 14px;
        // background-position: 0px 0px;
        background-size: 100%;
    }
    &.npp-btn-email span {
        background: url('../images/icn-mail.png') no-repeat;
        // background-size: 60px 14px;
        // -webkit-background-size: 60px 14px;
        // background-position: 0px 0px;
        background-size: 100%;
    }
    &:hover {
        color: #333;
    }
}
/* Example */ .dropbox-dropin-btn .dropin-btn-status { background: transparent url('../images/example-third-party-service.png') no-repeat !important; }

@media print { 
    .no-print {
        display: none;
    }
    
    .segment-opener h2 {
        border: 2px solid #000;
        font-size: 18px;
        font-weight: bold;
    }
    
}

// Define colors by section
.section-rights {
    .segment-opener h2 { background: $rights_color; }
    .segment-opener p strong { color: $rights_color; }
    .segment-bulletblock { border-bottom: 3px dotted $rights_color; }
    .segment-bulletblock .segment-example strong { color: $rights_color; }    
}

.section-choices {
    .segment-opener h2 { background: $choices_color; }
    .segment-opener p strong { color: $choices_color; }
    .segment-bulletblock { border-bottom: 3px dotted $choices_color; }
    .segment-bulletblock .segment-example strong { color: $choices_color; }    
}

.section-uses {
    .segment-opener h2 { background: $uses_color; }
    .segment-opener p strong { color: $uses_color; }
    .segment-bulletblock { border-bottom: 3px dotted $uses_color; }
    .segment-bulletblock .segment-example strong { color: $uses_color; } 
}